<br>
(resize your browser on this page to see console logging associated with the captured window.resize)

<h1>New Player</h1>

<%= render 'form', player: @player %>

<%= link_to 'Back', players_path %>
